/* screen - exerciseopen */

.exerciseopen {
  background-color: transparent;
  height: 1080px;
  position: relative;
  width: 1920px;
}
.exerciseopen .carpal-squ-e-cc08bf63-C61RwL {
  background-color: transparent;
  border-radius: 53px;
  height: 415px;
  left: 1282px;
  position: absolute;
  top: 158px;
  width: 607px;
}
.exerciseopen .component-8-6-C61RwL {
  background-color: rgba(124,132,175,1.0);
  border-radius: 18px;
  height: 381px;
  left: 1297px;
  opacity: 0.9;
  position: absolute;
  top: 175px;
  width: 577px;
}
.exerciseopen .rectangle-8-C61RwL {
  background-color: transparent;
  height: 1177px;
  left: -89px;
  position: absolute;
  top: -16px;
  width: 2067px;
}
.exerciseopen .x-take-regu-er-outside-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-size: 20px;
  height: auto;
  left: 1324px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 202px;
  white-space: nowrap;
  width: auto;
}
.font-class-1 {
  font-family: 'Inter-Regular', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.font-class-2 {
  font-family: 'Inter-SemiBold', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
}
:root {
  --manatee: rgba(137,144,173,1.0);
  --portage: rgba(145,156,222,1.0);
  --tangaroa: rgba(17,25,60,1.0);
  --tangaroa-2: rgba(17,25,60,0.439);
  --white: rgba(255,255,255,1.0);
}