/* screen - faq */

.faq {
  background-color: var(--white);
  background-image: url(../static/liqhack2020@1x.png);
  background-size: 100% 100%;
  height: 1080px;
  position: relative;
  width: 1920px;
}
.faq .analytics-FySLuy {
  background-color: transparent;
  height: 40px;
  left: 6px;
  position: absolute;
  top: -2px;
  width: 40px;
}
.faq .component-1-2-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 292px;
  position: absolute;
  top: 360px;
  width: 346px;
}
.faq .component-1-3-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 292px;
  position: absolute;
  top: 770px;
  width: 554px;
}
.faq .component-1-4-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 292px;
  position: absolute;
  top: 560px;
  width: 538px;
}
.faq .dashboard-HTCboW {
  background-color: transparent;
  bottom: -4px;
  color: var(--manatee);
  font-size: 20px;
  height: 26px;
  left: 0px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.faq .ellipse-1-Av2nI9 {
  background-color: transparent;
  bottom: 2px;
  height: 19px;
  left: -2px;
  position: absolute;
  width: 19px;
}
.faq .faq-Z0qGer {
  background-color: transparent;
  color: var(--tangaroa);
  font-size: 51px;
  height: calc(100.00% + 2px);
  left: 0px;
  line-height: 51px;
  position: absolute;
  text-align: left;
  top: 5px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.faq .faq-yDzyW8 {
  background-color: transparent;
  bottom: -4px;
  color: rgba(31,100,255,1.0);
  font-size: 20px;
  height: 26px;
  left: 5px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 8px);
}
.faq .gamer-bala-amenutriti-rhTVpD {
  background-color: transparent;
  color: var(--manatee);
  font-size: 21px;
  height: calc(100.00% + 2px);
  left: 0px;
  line-height: 31px;
  position: absolute;
  text-align: left;
  top: -3px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.faq .get-fit-FySLuy {
  background-color: transparent;
  bottom: -4px;
  color: var(--manatee);
  font-size: 20px;
  height: 26px;
  left: 0px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.faq .group-1-xMpdvS {
  background-color: transparent;
  height: 82px;
  position: absolute;
  right: calc(45.07% - 27px);
  top: calc(21.24% - 17px);
  width: 59px;
}
.faq .group-3-xMpdvS {
  background-color: transparent;
  height: 72px;
  left: calc(50.00% - 21px);
  position: absolute;
  top: calc(35.42% - 26px);
  width: 42px;
}
.faq .group-4-xMpdvS {
  background-color: transparent;
  height: 89px;
  position: absolute;
  right: calc(45.16% - 49px);
  top: 60px;
  width: 108px;
}
.faq .header-2P4qUJ {
  background-color: transparent;
  height: 33px;
  left: 304px;
  position: absolute;
  top: 779px;
  width: 535px;
}
.faq .header-C61RwL {
  background-color: var(--white);
  border-radius: 32px;
  height: 83px;
  left: 240px;
  opacity: 0.72;
  position: absolute;
  top: 68px;
  width: 188px;
}
.faq .header-HlKRTo {
  background-color: transparent;
  height: 100px;
  left: 292px;
  position: absolute;
  top: 839px;
  width: 527px;
}
.faq .header-J1YQmd {
  background-color: transparent;
  height: 87px;
  left: 292px;
  position: absolute;
  top: 427px;
  width: 1334px;
}
.faq .header-QxM5SU {
  background-color: transparent;
  height: 33px;
  left: 304px;
  position: absolute;
  top: 368px;
  width: 325px;
}
.faq .header-VMr6Om {
  background-color: transparent;
  height: 61px;
  left: 286px;
  position: absolute;
  top: 80px;
  width: 107px;
}
.faq .header-a5WPlX {
  background-color: transparent;
  height: 50px;
  left: 292px;
  position: absolute;
  top: 628px;
  width: 1369px;
}
.faq .header-mzXdH9 {
  background-color: transparent;
  height: 132px;
  left: 292px;
  position: absolute;
  top: 176px;
  width: 1478px;
}
.faq .header-qr8e7q {
  background-color: transparent;
  height: 33px;
  left: 305px;
  position: absolute;
  top: 568px;
  width: 517px;
}
.faq .here-you-c--stretches-VZUfM9 {
  background-color: transparent;
  color: var(--manatee);
  font-size: 21px;
  height: calc(100.00% + 2px);
  left: 0px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 8px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.faq .light-blue--3943096-1-C61RwL {
  background-color: transparent;
  height: 1328px;
  left: 0px;
  position: absolute;
  top: -124px;
  width: 1992px;
}
.faq .line-1-WzUO9t {
  background-color: transparent;
  bottom: 2px;
  height: 30px;
  left: calc(19.44% - 1px);
  position: absolute;
  width: 4px;
}
.faq .line-2-WzUO9t {
  background-color: transparent;
  bottom: 2px;
  height: 20px;
  left: calc(44.44% - 2px);
  position: absolute;
  width: 4px;
}
.faq .line-3-WzUO9t {
  background-color: transparent;
  bottom: 2px;
  height: 30px;
  position: absolute;
  right: calc(30.56% - 1px);
  width: 4px;
}
.faq .line-4-WzUO9t {
  background-color: transparent;
  bottom: 2px;
  height: 20px;
  position: absolute;
  right: 2px;
  width: 4px;
}
.faq .line-5-WzUO9t {
  background-color: transparent;
  height: 100%;
  left: -2px;
  position: absolute;
  top: -2px;
  width: 4px;
}
.faq .line-6-Av2nI9 {
  background-color: transparent;
  bottom: calc(48.16% - 7px);
  height: 14px;
  left: calc(38.61% - 6px);
  position: absolute;
  width: 14px;
}
.faq .liquid-hacks-2020-C61RwL {
  background-color: transparent;
  color: var(--manatee);
  font-size: 20px;
  height: auto;
  left: 9px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 897px;
  white-space: nowrap;
  width: auto;
}
.faq .metrics-HTCboW {
  background-color: transparent;
  height: 46px;
  position: absolute;
  right: calc(47.91% - 22px);
  top: -2px;
  width: 46px;
}
.faq .path-13-Av2nI9 {
  background-color: transparent;
  height: 38px;
  position: absolute;
  right: 1px;
  top: -1px;
  width: 38px;
}
.faq .path-14-C9w9FD {
  background-color: transparent;
  height: 100%;
  left: -2px;
  position: absolute;
  top: -1px;
  width: 100%;
}
.faq .path-17-PzYLCH {
  background-color: transparent;
  height: calc(100.00% + 78px);
  left: -39px;
  position: absolute;
  top: -36px;
  width: calc(100.00% + 78px);
}
.faq .path-17-ck9Dfx {
  background-color: transparent;
  height: calc(100.00% + 78px);
  left: -39px;
  position: absolute;
  top: -36px;
  width: calc(100.00% + 78px);
}
.faq .path-17-zxTx7v {
  background-color: transparent;
  height: calc(100.00% + 78px);
  left: -39px;
  position: absolute;
  top: -36px;
  width: calc(100.00% + 78px);
}
.faq .rectangle-1-xMpdvS {
  background-color: transparent;
  height: calc(100.00% + 78px);
  left: -39px;
  position: absolute;
  top: -36px;
  width: calc(100.00% + 78px);
}
.faq .rectangle-2-xMpdvS {
  background-color: transparent;
  border-radius: 5px;
  height: 215px;
  left: -22px;
  position: absolute;
  top: calc(33.41% - 72px);
  width: calc(100.00% + 44px);
}
.faq .side-menu-C61RwL {
  background-color: transparent;
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 201px;
}
.faq .sound-wave-yDzyW8 {
  background-color: transparent;
  height: 38px;
  left: -2px;
  position: absolute;
  top: -1px;
  width: calc(100.00% + 4px);
}
.faq .teamliquidlogo2017-C61RwL {
  background-color: transparent;
  height: 96px;
  left: 53px;
  position: absolute;
  top: 934px;
  width: 96px;
}
.faq .we-believe--your-body-z9NKSs {
  background-color: transparent;
  color: var(--manatee);
  font-size: 21px;
  height: calc(100.00% + 2px);
  left: 0px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 4px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.faq .we-created-decided-to-TZLg6Q {
  background-color: transparent;
  color: var(--manatee);
  font-size: 27px;
  height: calc(100.00% + 2px);
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.faq .what-is-ga-er-balance-KP5Iyf {
  background-color: transparent;
  color: var(--tangaroa);
  font-size: 27px;
  height: calc(100.00% + 2px);
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.faq .where-do-y-nformation-xS9RCs {
  background-color: transparent;
  color: var(--tangaroa);
  font-size: 27px;
  height: calc(100.00% + 2px);
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.faq .why-should-uys-advice-x3GL5u {
  background-color: transparent;
  color: var(--tangaroa);
  font-size: 27px;
  height: calc(100.00% + 2px);
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.font-class-1 {
  font-family: 'Inter-Regular', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.font-class-2 {
  font-family: 'Inter-SemiBold', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
}
:root {
  --manatee: rgba(137,144,173,1.0);
  --portage: rgba(145,156,222,1.0);
  --tangaroa: rgba(17,25,60,1.0);
  --tangaroa-2: rgba(17,25,60,0.439);
  --white: rgba(255,255,255,1.0);
}